header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  background-color: white;
  text-align: center;
  padding-top: 1rem;
}

.header-title {
  font-size: 60px;
  font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
}

.navbar-nav {
  font-size: 25px;
  display: flex;
  gap: 1rem;
}
